@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  font-weight: 400;
  color: #000000;
  width: 100vw;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}